<h1>Listing epiphanies</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @epiphanies.each do |epiphany| %>
      <tr>
        <td><%= epiphany.body %></td>
        <td><%= link_to 'Show', epiphany %></td>
        <td><%= link_to 'Edit', edit_epiphany_path(epiphany) %></td>
        <td><%= link_to 'Destroy', epiphany, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Epiphany', new_epiphany_path %>
